# Raspberry Pi VID: 0x2E8A
# Raspberry Pi PID: 0x0005

SUBSYSTEM=="tty", \
ATTRS{idVendor}=="2e8a", \
ATTRS{idProduct}=="0005", \
MODE="0660", \
GROUP="dialout", \
SYMLINK+="/dev/ttyACM%n"

# Alternative rule
SUBSYSTEM=="tty", \
ATTRS{idVendor}=="2e8a", \
ATTRS{product}=="MicroPython*", \
MODE="0660", \
GROUP="dialout", \
SYMLINK+="/dev/ttyACM%n"